RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]

# Pasar el header Authorization a PHP (Apache lo elimina por defecto)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]